<div class="bg-img overflow-hidden">
    <div class="container">
      <div class="row">
        <div
          class="col-md-6 col-sm-12"
          data-aos="fade-up"
          data-aos-duration="3000"
        >
          <h1 class="text-white banner-heading">
            Mens FootWear <span style="color: rgb(38, 0, 255)">Shoes</span>
          </h1>
          <h3 class="banner-heading2 mt-3">Winter Fashion</h3>
          <!-- HTML !-->
          <button class="button-1 mt-3" role="button">
            <span class="text">Explore</span><span>Products</span>
          </button>
        </div>
        <div class="col-md-6 col-sm-12">
          <div
            class="banner-img"
            data-aos="fade-left"
            data-aos-duration="3000"
          ></div>
        </div>
      </div>
    </div>
  </div>
  