<!-- Remove the container if you want to extend the Footer to full width. -->
<div class="container-fluid my-5">
    <section>
      <!-- Footer -->
      <footer class="text-center text-white" style="background-color:rgb(38, 0, 255)">
       
        <!-- Copyright -->
        <div class="text-center p-3" style="background-color: rgba(0, 0, 0, 0.2);">
          © 2020 Copyright:
          <a class="text-white">eBuying.com</a>
        </div>
        <!-- Copyright -->
      </footer>
      <!-- Footer -->
    </section>
  </div>
  