
<div class="container">
    <h1>Shopping Cart</h1>
    <div class="row">
      <div class="col-md-8">
        <div class="card mb-3">
          <div class="card-header bg-primary text-white">
            <h5 class="card-title mb-0">Product List</h5>
          </div>
          <div class="card-body d-flex" *ngFor="let data of cart;let i='index'">
            <p class="card-text mx-1">{{i+1}}</p>
            <img class="cart-text mx-1 rounded-circle image " [src]="url+data?.imageUrl" alt="">
            <p class="card-text mx-1">{{data.productName}}</p>
            <p class="card-text mx-1">Product Description</p>
            <button class="btn btn-outline-danger mx-1" type="button">-</button>
             {{data.selectedQuantity}}
            <button class="btn btn-outline-success mx-1"  type="button">+</button>
            <i class=" mx-1 my-4 fa-solid fa-circle-xmark fa-2xl" style="color: #ec4109;" (click)="removeProductFromLocalStorage(i)"></i>
          </div>
        </div>
      </div>
      <div class="col-md-4">
        <div class="card mb-3">
          <div class="card-header bg-success text-white">
            <h5 class="card-title mb-0">Your Cart</h5>
          </div>
          <ul class="list-group list-group-flush">
            <li class="list-group-item d-flex justify-content-between align-items-center">
              Discount
              <span class="badge bg-primary rounded-pill">1</span>
            </li>
            <li class="list-group-item d-flex justify-content-between align-items-center">
              Delivery
              <span class="badge bg-primary rounded-pill">2</span>
            </li>
            <li class="list-group-item d-flex justify-content-between align-items-center">
              Subtotal
              <span class="badge bg-primary rounded-pill">$20.00</span>
            </li>
            <li class="list-group-item text-center">
              <button class="btn btn-primary w-100 btn-lg btn-block">Checkout</button>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </div>
  